[tool.poetry]
name = "voicemeeter-compact"
version = "1.5.1"
description = "A Compact Voicemeeter Remote App"
authors = ["onyx-and-iris <code@onyxandiris.online>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/onyx-and-iris/voicemeeter-compact"

packages = [
    { include = "vmcompact" },
]
include = ["vmcompact/img/cat.ico"]

[tool.poetry.dependencies]
python = "^3.10"
sv-ttk = "^2.0"
tomli = { version = "^2.0.1", python = "<3.11" }
voicemeeter-api = "^0.7.0"
vban-cmd = "^1.4.2"

[tool.poetry.dev-dependencies]
black = {version = "^22.6.0", allow-prereleases = true}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
